body {
    display: block;
    margin: 8px;
    background-color: lightblue;
      }


.d1 {
    background: url(https://images.squarespace-cdn.com/content/v1/5bb1817eaf4683ccd757af35/c870fced-c2e9-4e01-a233-3ea52bf784c9/Secrets_pg1-01.jpg?format=1000w) ;
width: 1000px;
height: 1400px;
display: block;
margin-left: auto;
margin-right: auto }

.d2 {
    background: url(https://images.squarespace-cdn.com/content/v1/5bb1817eaf4683ccd757af35/7334ba09-8d6f-4185-8962-ad9066899be6/Secrets_pg2-01+blank.jpg?format=1000w) ;
    width: 1000px;
    height: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto }

a:link, a:visited {
    background-color: #e9af62;
    color: rgb(58, 57, 57);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

a:hover, a:active {
    background-color: #ef9c32;
 
  }
.t1 {
    position: relative;
    top: 660px;
    left: 160px;
    transform: translate(-50%, -50%);
    height: 205px;
    width: 178px;
    border-radius: 150px 150px 0 0;
    background-color: rgb(255, 255, 255);
    padding:25px ;
}
.t2 {   
    position: relative;
    top: 800px;
    left: 250px;
    transform: translate(50%, 50%);
    height: 205px;
    width: 178px;
    border-radius: 150px 150px 0 0;
    background-color: rgb(255, 255, 255);
    padding:23px ;

}