body {
    display: block;
    margin: 8px;
    background-color: lightblue;
      }


.d1 {
    background: url(https://images.squarespace-cdn.com/content/v1/5bb1817eaf4683ccd757af35/c870fced-c2e9-4e01-a233-3ea52bf784c9/Secrets_pg1-01.jpg?format=1000w) ;
width: 1000px;
height: 1400px;
display: block;
margin-left: auto;
margin-right: auto }

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto 
}

a:hover, a:active {
    background-color: red;
  }
