@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
  @-ms-viewport {
    width: device-width ;
  }

body {
    display: block;
    margin: 8px;
    background-color: lightblue;
      }


#d1 {
    background: url(https://images.squarespace-cdn.com/content/v1/5bb1817eaf4683ccd757af35/c870fced-c2e9-4e01-a233-3ea52bf784c9/Secrets_pg1-01.jpg?format=1000w) ;
    width: 1000px;
height: 1400px;
display: block;
margin-left: auto;
margin-right: auto }

#d2 {
    background: url(https://images.squarespace-cdn.com/content/v1/5bb1817eaf4683ccd757af35/7334ba09-8d6f-4185-8962-ad9066899be6/Secrets_pg2-01+blank.jpg?format=1000w) ;
    width: 1000px;
    height: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto }

a:link, a:visited {
    background-color: #e9af62;
    color: rgb(58, 57, 57);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

a:hover, a:active {
    background-color: #ef9c32;
 
  }
.t1 {
    
    position: relative;
    top: 567px;
    left: 183px;
    transform: translate(-50%, -50%);
    height: 190px;
    width: 150px;
    text-align: center;
    border-radius: 150px 150px 0 0;
    background-color: rgb(255, 250, 250);
    padding:28px ;
}
.t2 { 
     
    position: relative;
    top: 861px;
    left: 150px;
    transform: translate(-50%, -50%);
    height: 180px;
    width: 100px;
    text-align: center;
    border-radius: 0px 0px 150px 150px;
    background-color: rgb(255, 253, 253);
    padding:20px ;

}
.t3 { 
    
    position: relative;
    top: 312px;
    left: 488px;
    transform: translate(-50%, -50%);
    height: 270px;
    width: 100px;
    text-align: center;
    border-radius: 150px 0px 0px 0px;
    background-color: rgb(255, 250, 250);
    padding:35px ;

}
.t4 { 
    position: relative;
    top: 637px;
    left: 765px;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 115px;
    border-radius: 150px 150px 0px 0px;
    background-color: rgb(255, 251, 251);
    padding:20px ;
}
.t5 {
    position: relative;
    top: 1010px;
    left: 315px;
        height: 295px;
        width: 135px;
        border-radius:50%;
        background-color: rgb(255, 255, 255);
        padding:10px
}

.t6 {
    position: relative;
    top: 122px;
    right: 228px;
        height: 240px;
        width: 135px;
        border-radius:50%;
        background-color: rgb(255, 255, 255);
}

.fade-in {
    animation-name: FadeIn;
    animation-duration: 3s;
    transition-timing-function: linear;
  }
  
  @keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }